$primary: #F15B2F;
$info: #A73882;
$success: #2DBA79;

@import url('https://fonts.googleapis.com/css?family=Muli&display=swap');
@import "~bulma/bulma";

.button {
  border-radius: 40px;
}

.footer-bottom {
  padding: 1rem;
  background-color: black;
  color: white;
}

.footer {
  background-color: #302460;
  color: white;
}

.accordion {
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(32, 30, 78, 0.2);
  border-radius: 10px;
  padding: 2rem;
}

.subtitle-hero {
  line-height: 2.5;
  margin-bottom: 3rem;
}

.bg-img {
  background-image: url(../assets/background.jpg);
  background-position: bottom right;
  background-size: cover;
}

.card {
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(31, 30, 48, 0.3);
  height: 100%;
}

img {
  max-width:100%; 
  height:auto; 
}

.is-primary {
  background-color: #F15B2F;
}